extends ../layout.pug

block content
    main.hero.flex.justify-center.pt-12.pb-6.w-full
        .container
            .w-full.flex.justify-center
                #install-progress.w-64.h-64.border-2.rounded-full
            .w-full.text-center
                p.text-white.text-xl.pt-6
                    | Installing 
                    span#loading
    script.
        const install = require('./install.js')
        install.render()
        install.install()
    style.
        svg * {
            fill-opacity: 0;
            transition: 6s ease fill-opacity;
        }
        svg.finished * {
            fill-opacity: 1;
        }
        #install-progress {
            transition: 3s ease border-color;
        }
        #loading {
            color: purple;
        }