html.h-screen
    head
        title Panda Installer
        link(href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="../layouts/layout.css")
        link(rel="stylesheet" type="text/css" href="../assets/fonts/icons.css")
    body.h-screen.relative
        header.flex.justify-end
            div#app-region.flex-none
            nav.flex-initial
                div#minimize.toolbar-button
                    div 🗕
                div#exit.toolbar-button 🗙
        block content
        footer.absolute.w-full.h-4.text-center
            p Copyright © 2021 The Panda Programming Language
    script.
        const layout = require('../layouts/layout.js')
        layout.render()
</html>