#app
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #eee
  margin-top 60px

html
  height 100%
  overflow hidden
  background-color #2a2a2a
  background-size 20px 20px

.logo
  width 20em
